footer {
    --text-FooterColor: rgb(51, 49, 49);
    background-color: #CBCACA;
    color: var(--text-FooterColor);
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.15ch;
    position: relative;

    .link {
        color: white;
    }

    .link::after {
        background: white;
    }
}

.MainFooterContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    gap: 3rem;
}

.quoteSection {
    text-align: center;
    padding: 1.5rem 0;

    .quote {
        font-family: 'Staatliches', cursive;
        font-size: 2.2rem;
        line-height: 1.4;
        max-width: 800px;
        margin: 0 auto;
        color: rgb(51, 49, 49);

        @media screen and (max-width: 699px) {
            font-size: 1.6rem;
        }
    }
}

.linksSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    padding: 2rem 0;

    .linkColumn {
        h4 {
            font-family: 'Antonio', sans-serif;
            font-size: 1.5rem;
            text-transform: uppercase;
            margin-bottom: 1.2rem;
            color: #000;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 0.5rem;
        }

        a {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.15rem;
            color: rgb(51, 49, 49);
            text-decoration: none;
            transition: color 0.2s;

            &:hover {
                color: var(--primary);
            }
        }
    }

    @media screen and (max-width: 500px) {
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.copyright {
    font-family: 'Roboto', sans-serif;
    color: rgb(51, 49, 49);
    font-size: 0.95rem;
    padding: 0.8rem 0;
    text-align: center;
    letter-spacing: 0ch;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 1rem;

    p {
        margin-bottom: 0.8rem;
    }

    .ln {
        font-size: inherit;
        text-transform: none;
    }

    .team {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        width: fit-content;
        margin: auto;
        justify-content: center;

        .devteamBtn {
            background-color: transparent;
            border: none;
            margin: 0 0.25rem;
            color: var(--primary);
            position: relative;
            display: inline-block;
            text-decoration: none;
            font-family: 'Open Sans';
            cursor: pointer;
        }

        .devteamBtn::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            transform: scaleX(0);
            background-color: currentColor;
            transition: .4s;
            transform-origin: left;
            background: var(--primary);
        }

        .devteamBtn:hover::before {
            transform: scaleX(1);
        }

        .devteamBtn.on {
            color: var(--white1);
        }

        .devteamBtn::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: .4s;
        }

        .devteamBtn.on::before {
            background: var(--primary);
            top: 0;
            height: 100%;
            transform: scaleX(1);
        }
    }

    .devteam {
        padding: 0.4rem;
        border-radius: 0.25rem;
        background-color: var(--white2);
        text-align: left;
        display: block;
        list-style-type: none;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, calc(-0.5rem - 100%));
    }

    .sep {
        display: inline-block;
        margin: 0 0.25rem;
    }

    @media screen and (max-width: 550px) {
        .sep {
            display: none;
        }

        .team {
            flex-direction: column;
        }
    }
}